matplotlib
scikit-learn
pandas
seaborn
numpy
lightning
transformers
emoji
nltk
tensorboard
jsonargparse[signatures]
omegaconf
sacremoses
gradio
ruff
basedpyright
click
requests
pytest
tqdm
pyyaml
torchmetrics
lightgbm
imbalanced-learn
tiktoken
openai
mlflow
azure-cli
--extra-index-url https://download.pytorch.org/whl/cpu
torch
torchtext
