matplotlib
scikit-learn
pandas
seaborn
numpy
lightning
transformers
emoji
nltk
tensorboard
jsonargparse[signatures]
omegaconf
sacremoses
gradio
click
requests
tqdm
pyyaml
torchmetrics
lightgbm
imbalanced-learn
tiktoken
openai
mlflow
